- if @wager
  .row
    #bet-field
      = render 'bet_field', wager: @wager
.row
  #player
    = render @player, channel: params[:id]
.row
  #channel-info
    %h3= @channel_data[:status]
    %p= @channel_data[:game]

:javascript
  var wagerPollInterval;
  var wagerUpdateInterval = setInterval(function() {
    $.ajax({
      url: "/channels/#{@channel.id}/active.js",
      data: { "current_wager": $('.wager').data('wid') }
    }).complete(function(data) {
      eval(data.responseText);
      if (data.responseText != " ") {
        wagerPollInterval = setInterval(window.wagerPolling, 3000);
      }
    });
  }, 5000);