- if @wager
  .row-ctr
    #bet-field
      = render 'channels/partials/bet_field', wager: @wager
      
.row-ctr
  #player
    = render @player, channel: params[:id]

.row-ctr
  #channel-info
    .row
      #ci-left
        %i.fa.fa-gamepad
        .game-name= @channel_data[:game]
      #ci-right
        %i.fa.fa-user
          = " #{number_with_delimiter(@channel_data[:views], delimiter: ",")} Views"
    .row
      .col-xs-12
        %h3= @channel_data[:status]

:javascript
  initIntervals("#{@wager.id if @wager}", "#{current_user.id}", "#{params[:id]}");