- if @wager
  .row
    #bet-field.col-md-6.col-md-offset-3
      = render 'bet_field', wager: @wager

.row
  .col-md-8.col-md-offset-2
    = render @player, channel: params[:id]

.row
  .col-md-8.col-md-offset-2
    .row.channel-info
      %h3= @channel_data[:status]
      %p = @channel_data[:game]

:javascript
  var wagerUpdateInterval = setInterval(function() {
    $.ajax({
      url: "/channels/#{@wager.channel_id}/wagers/active.js",
      data: { "current_wager": #{@wager.id} }
    }).complete(function(data) {
      eval(data.responseText);
    });
  }, 5000);
  clearInterval(wagerUpdateInterval);