.col-xs-12
  .col-sm-12
    .row.box
      .col-xs-12.col-sm-8
        %h1= @user_data['display_name']
        %p
          Joined
          = current_user.created_at.strftime("%B %Y")
        .pull-right
          - if current_user.username == params[:id]
            = link_to "Edit Details", edit_user_registration_path, class: "btn btn-default"
            = link_to "Developers", "#", data: {toggle: "modal", target: "#api-key"}, class: "btn btn-default"

      #stats.well.col-xs-12.col-sm-4
        %h3 Quick Stats   
        %p= "Total Wagered: #{number_to_currency(@total_wagered, unit: "$")}"
        %p= "Total Won: #{number_to_currency(@total_won, unit: "$")}"
        %p= "Total Lost: #{number_to_currency(@total_lost, unit: "$")}"
        - if @roi.present?
          %p= "Return on Investment: #{@roi}"


  .col-sm-6
    - @transactions.reverse.first(3).each do |t|
      .row.box.wager-transaction
        .col-xs-2.col-md-1
          %span.glyphicon{class: "#{t.won ? 'glyphicon-wager-won' : 'glyphicon-wager-lost'}"}
        .col-xs-8
          %h2.text-center{data: { toggle: "tooltip", placement: "bottom", title: "You #{t.won ? 'won' : 'lost'} $#{t.display_amount} on #{t.wager_option.text}" } }= t.wager_option.wager.try(:question)
        .col-xs-2
          %p= t.created_at.strftime("%d %b %Y")



#api-key.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Lootstream API Key
      .modal-body
        %p Below is your API key, do not share this with anybody else!
        .row
          .col-xs-8
            = text_field_tag "api_key", current_user.api_key, disabled: true, placeholder: "No Key Present", class: "form-control"
          .col-xs-4
            = link_to "Generate New Key", "#", class: "btn btn-looted", id: "btn-generate-key"
        .help-block Please note, generating a new key will invalidate any calls with the previous key.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(document).ready(function() {
    $(function () { $('[data-toggle="tooltip"]').tooltip() });
    $("#btn-generate-key").on("click", function() {
      $.ajax({
        url: "#{user_api_key_path(current_user)}",
        type: "POST"
      }).success(function(data) {
        $("#api_key").val(data.key);
      })
    });
  });