.col-sm-4
  .row.box
    %h2= @user_data['display_name']
    %p
      Joined
      = current_user.created_at.strftime("%B %Y")
  .row.box
    %h3 Quick Stats
    %p= "Total Wagered: #{number_to_currency(@total_wagered, unit: "$")}"
    %p= "Total Won: #{number_to_currency(@total_won, unit: "$")}"
    %p= "Total Lost: #{number_to_currency(@total_lost, unit: "$")}"
    %p= "Return on Investment: #{(@total_won/@total_lost).round(2)}"


.col-sm-8
  - @transactions.reverse.each do |t|
    .box
      .row
        .col-sm-3
          =image_tag("#{t.won ? 'http://www.venomusa.biz/wp-content/uploads/2014/03/thumbs-up2.jpg' : 'http://www.psdgraphics.com/file/thumbs-down-button.jpg'}", class: 'img-responsive')
        .col-sm-7
          %h4= t.wager_option.wager.try(:question)
          %h4
            = "You #{t.won ? 'won' : 'lost'} $#{t.display_amount} on"
            %span.option-text= t.wager_option.text
        .col-sm-2
          %p= t.created_at.strftime("%d %b %Y")
