= simple_form_for(@wager, url: channel_wagers_path(params[:channel_id]),  html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .col-xs-5.col-md-3
    %h3 Basic Info
    = f.association :game, label_method: :name, include_blank: false, label: false
    = f.input :question, required: true, placeholder: 'Question', label: false
    .input-group
    = f.input :min_amount, as: :numeric, placeholder: 'Minimum Amount', label: false
    = f.input :max_amount, as: :numeric, placeholder: 'Maximum Amount', label: false
    .form-actions.pull-right
      = link_to 'Back', channel_wagers_path, class: 'btn btn-default'
      = f.button :submit, class: 'btn btn-primary'

  .col-xs-6.col-md-4
    %h3 Wager Options
    .add-option
      = link_to_add_association f, :wager_options, data: {'association-insertion-node' => '#options', 'association-insertion-position' => 'append'} do
        %i.fa.fa-plus
    
    #options
      = f.simple_fields_for :wager_options do |option|
        = render 'wager_options_fields', f: option

:javascript
  $(function () {
    var maxOptions = 1;
    var shouldHideButton = function() {
      if($('.nested-fields').length >= maxOptions) {
        $('.add-option').hide();
      } else {
        $('.add-option').show();
      }
    };
    var game_info = function() {
      var game_id = $('select#wager_game_id').val()
      $.ajax({
        url: '/games/'+game_id+'/info.json',
      }).success(function(data) {
        maxOptions = data.max_options;
      });
    };
    $('#options').bind('cocoon:after-insert', function() {
      shouldHideButton();
    }).bind('cocoon:after-remove', function() {
      shouldHideButton();
    });
    $("select#wager_game_id").on('change', function() {
      game_info();
    });

    game_info();
  });


