= simple_form_for(@wager, url: channel_wagers_path(params[:channel_id])) do |f|
  = f.error_notification

  .row
    .col-md-3
      .form-inputs
        = f.association :game, label_method: :name, include_blank: false
        = f.input :min_amount, as: :numeric
        = f.input :max_amount, as: :numeric

        = f.input :question, required: true

    .col-md-9
      %h2 Options
      .add-option
        = link_to_add_association f, :wager_options, data: {'association-insertion-node' => '#options', 'association-insertion-position' => 'append'} do
          %i.fa.fa-plus.fa-2x
      

      #options
        = f.simple_fields_for :wager_options do |option|
          = render 'wager_options_fields', f: option

  .row
    .col-md-12.form-actions
      = f.button :submit

  :javascript
    $(function () {
      var maxOptions = 1;
      var shouldHideButton = function() {
        if($('.nested-fields').length >= maxOptions) {
          $('.add-option').hide();
          $('.nested-fields').last().find('input[type="text"]').focus();
        } else {
          $('.add-option').show();
        }
      };
      var game_info = function() {
        var game_id = $('select#wager_game_id').val()
        $.ajax({
          url: '/games/'+game_id+'/info.json',
        }).success(function(data) {
          maxOptions = data.max_options;
        });
      };
      $('#options').bind('cocoon:after-insert', function() {
        shouldHideButton();
      }).bind('cocoon:after-remove', function() {
        shouldHideButton();
      });
      $("select#wager_game_id").on('change', function() {
        game_info();
      });

      game_info();
    });


