%h1 Listing wagers

%table
  %tr
    %th Question
    %th Min amount
    %th Max amount
    %th Game
    %th Stream
    %th
    %th
    %th

  - @wagers.each do |wager|
    %tr
      %td= wager.question
      %td= wager.min_amount
      %td= wager.max_amount
      %td= wager.game
      %td= wager.stream
      %td= link_to 'Show', wager
      %td= link_to 'Edit', edit_wager_path(wager)
      %td= link_to 'Destroy', wager, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wager', new_stream_wager_path
