%h1 Listing wagers

%table.table.table-striped.table-responsive
  %tr
    %th Game Type
    %th Question
    %th Minimum Amount
    %th Maximum Amount
    %th
    %th

  - @wagers.each do |wager|
    %tr
      %td= wager.game.name
      %td= wager.question
      %td= number_to_currency(wager.min_amount, unit: '$')
      %td= number_to_currency(wager.max_amount, unit: '$')
      %td= link_to 'View', wager

      - if wager.active
        %td= link_to 'Suspend', wager, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        %td

%br

= link_to 'New Wager', new_stream_wager_path
