.row
  .col-xs-12
    %h3#search-title= search_title

- streams.each do |stream|
  .stream
    .col-xs-4
      = link_to image_tag(stream[:preview]['medium'], class: 'img-responsive'), channel_path(stream[:name])
    .col-xs-8
      .row
        %h3= link_to stream[:name], channel_path(stream[:name])
      .row
        %p= stream[:status]
      .row
        %i.fa.fa-gamepad
          .game-name= stream[:game]