= simple_form_for(@wager, url: channel_wagers_path(channel_id),  html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .col-xs-12.col-sm-5
    = f.input :question, required: true, placeholder: 'Question', label: false

  .col-xs-12.col-sm-7
    %h3 Wager Options
    .add-option
      = link_to_add_association f, :wager_options, partial: "wagers/wager_options_fields", data: {'association-insertion-node' => '#options', 'association-insertion-position' => 'append'} do
        %i.fa.fa-plus
    
    #options
      = f.simple_fields_for :wager_options do |option|
        = render 'wager_options_fields', f: option

    .form-actions.pull-right
      = link_to 'Back', channel_wagers_path(channel_id), class: 'btn btn-default'
      = f.button :submit, class: 'btn btn-looted'

:javascript
  $(document).on("ready page:load", function() {
    var maxOptions = 1;
    var shouldHideButton = function() {
      if($('.nested-fields').length >= maxOptions) {
        $('.add-option').hide();
      } else {
        $('.add-option').show();
      }
    };

    $('#options').bind('cocoon:after-insert', function() {
      shouldHideButton();
    }).bind('cocoon:after-remove', function() {
      shouldHideButton();
    });
  });


