!!!
%html{:lang => 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title Streamsino
    = stylesheet_link_tag    'application', media: 'all', 'data-no-turbolinks' => true
    = javascript_include_tag 'application', 'data-no-turbolinks' => true
    = csrf_meta_tags
  %body

  %nav.navbar.navbar-default.navbar-static-top{role: 'navigation'}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{type: 'button', "data-toggle" => 'collapse', "data-target" => '#navi-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Streamsino', root_path, :class => 'navbar-brand'
      .collapse.navbar-collapse#navi-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Home', root_path
          %li= link_to 'Streams', streams_path
          %li= link_to 'Wagers', stream_wagers_path(params[:id]) if params[:id]
        -if @stream && @balance
          %ul.nav.navbar-nav.navbar-right
            %li#stream-balance= link_to "Stream Balance: #{number_to_currency(@balance.balance, unit: '$')}", '#'
            %li= link_to 'My Profile', auth_user_path


  %p.notice
    = notice

  %p.alert
    = alert

.container-fluid
  = yield
