!!!
%html{:lang => 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title LootStream
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{params[:action]}"}

  .hero
    %nav.navbar.navbar-controls{role: 'navigation'}
      .container-fluid
        .navbar-header-wrap
          .navbar-header
            %button.navbar-toggle{type: 'button', "data-toggle" => 'collapse', "data-target" => '#navi-collapse'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'LootStream', root_path, :class => 'navbar-logo'
          = render "#{user_signed_in? ? "active" : "inactive"}_nav"

    .container-fluid
      .hero-wrap
        %p.notice= notice
        %p.alert= alert
        .col-xs-8.col-md-6
          %h2 Earn money watching livestreams
          %p Yep, that's the strapline
        .col-xs-4.col-md-3.col-md-offset-3.authentication
          - unless user_signed_in?
            .row
              - view = params[:code] ? 'ajax_sign_up' : 'new_user'
              = render "devise/registrations/#{view}"
            .row
              = render 'devise/sessions/ajax_sign_in'

  .post-hero-container#channels-active
    .post-hero-inner
      %h3 Now Playing
      .post-hero-row



  .post-hero-container#viewer-features
    .post-hero-inner
      %h3 Streamer Features
      .post-hero-row
        .triplet.animated
          .row=fa_icon "dollar 3x"
          %h4.row Win Streambucks
          %p.row And top the leaderboard of your favourite stream

        .triplet.animated
          .row=fa_icon "gamepad 3x"
          %h4.row Prove you're a pro
          %p.row Put your game knowledge to the test

        .triplet.animated
          .row=fa_icon "area-chart 3x"
          %h4.row Publically auditable
          %p.row All game stats are available to review, to ensure your channel is legitimate

  .post-hero-container#streamer-features
    .post-hero-inner
      %h3 Turbocharge your channel's subscriptions
      .post-hero-row
        .triplet.animated
          .row=fa_icon "line-chart 3x"
          %h4.row Increase Viewership
          %p.row Increase your audience count by offering a unique service 

        .triplet.animated
          .row=fa_icon "exchange 3x"
          %h4.row Audience Interaction
          %p.row 

        .triplet.animated
          .row=fa_icon "home 3x"
          %h4.row Free Subdomain
          %p.row Get a free direct link to your Lootstream channel

:javascript
  $(function() {
    $(document).on("scroll", function() {
      doAnimCheck();
    });

    var doAnimCheck = function() {
      var animClasses = ["fadeInLeft", "fadeInUp", "fadeInRight"];
      var groupIds = ["#streamer-features", "#viewer-features"];

      $.each(groupIds, function(index) {
        $(groupIds[index]+" .post-hero-row").children('.animated').each(function(triIndex) {
          $(this).viewportChecker({
            classToAdd: "visible " + animClasses[triIndex],
          });
        });
      });
    };

    doAnimCheck();
  });